.trackControl {
    @apply flex flex-col items-start px-2 w-fit sm:w-full md:px-1 sm:px-1
}

.trackControl span {
    @apply text-xl font-bold px-3 whitespace-nowrap md:px-1 sm:px-1
}

.volumeControl {
    @apply w-48 h-8 appearance-none overflow-hidden outline-0
    rounded-2xl bg-gray-50
    shadow-inset-sm-light
    dark:shadow-inset-sm-dark
    dark:bg-gray-900
    sm:w-full
}

.volumeControl::-webkit-slider-thumb {
    @apply appearance-none w-0 h-0 cursor-pointer shadow shadow-volume opacity-100 shadow-gray-700 dark:shadow-gray-100
}


.emptyControl {
    @apply w-48 h-8 border border-dashed rounded-3xl border-gray-500 sm:w-full
}

.Cat::-webkit-slider-thumb {
    @apply shadow-yellow-700
}

.Cicadas::-webkit-slider-thumb {
    @apply shadow-green-800
}

.Rain::-webkit-slider-thumb {
    @apply shadow-teal-200
}

.Train::-webkit-slider-thumb {
    @apply shadow-teal-500
}

.Fireplace::-webkit-slider-thumb {
    @apply shadow-orange-500
}

.Thunder::-webkit-slider-thumb {
    @apply shadow-cyan-500
}

.Airport::-webkit-slider-thumb {
    @apply shadow-teal-400
}

.Waterfall::-webkit-slider-thumb {
    @apply shadow-green-700
}

.Meadow::-webkit-slider-thumb {
    @apply shadow-green-400
}

.Rainroof::-webkit-slider-thumb {
    @apply shadow-cyan-300
}

.Heavyrain::-webkit-slider-thumb {
    @apply shadow-indigo-300
}

.Nightforest::-webkit-slider-thumb {
    @apply shadow-slate-400
}

.Forestriver::-webkit-slider-thumb {
    @apply shadow-lime-500
}