.presetsList {
    @apply py-3 cursor-pointer
}

.presetsList h3 {
    @apply text-lg font-bold px-2
}

.presetsList span {
    @apply text-base
}

.preset {
    @apply flex flex-row justify-between py-1 my-2 bg-gray-300 rounded-xl
    hover:bg-zinc-400
    hover:fill-red-400
    dark:bg-zinc-800 dark:hover:bg-zinc-600 dark:fill-zinc-100
}

.presetTitle {
    @apply text-2xl font-bold px-3 pr-10 align-middle
}

.tracksList {
    @apply flex flex-row items-center text-xl
}

.tracksList li {
    @apply flex flex-row flex-wrap justify-end
}

.tracksList svg {
    @apply w-6 h-6  mx-2 rounded-full hover:fill-red-500
}

.trackTitle {
    @apply font-bold rounded-2xl px-3 py-0.5 m-1 mx-1 leading-none text-shadow-sm shadow-white
    dark:shadow-black
}

.deleteConfirm  {
    @apply text-red-500 font-bold py-1
}

.deleteConfirm button {
    @apply mx-2 px-2 text-zinc-50 bg-red-500 rounded-xl
    hover:bg-red-600
}

.deleteConfirm span {
    @apply pr-3
}

.Cat {
    @apply bg-yellow-700
}

.Cicadas {
    @apply bg-green-800
}

.Rain {
    @apply bg-teal-200
}

.Train {
    @apply bg-teal-500
}

.Fireplace {
    @apply bg-orange-500
}

.Thunder {
    @apply bg-cyan-500
}

.Airport {
    @apply bg-teal-400
}

.Waterfall {
    @apply bg-green-700
}

.Meadow {
    @apply bg-green-400
}

.Rainroof {
    @apply bg-cyan-300
}

.Heavyrain {
    @apply bg-indigo-300
}

.Nightforest {
    @apply bg-slate-400
}

.Forestriver {
    @apply bg-lime-500
}

.Piano {
    @apply bg-amber-700
}

.Seawaves {
    @apply bg-teal-400
}

.Beach {
    @apply bg-blue-400
}